.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.calendar {
  padding-right: 10px;
  min-width: 384px;
  width: 100%;
  max-width: 600px;
}

.calendar-headline {
  padding: 20px 0;
  font-size: 18px;
  background-color: aliceblue;
  text-align: center;
}

.calendar-headline-month {
  font-weight: 600;
}

.calendar-headline-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.calendar-headline-control {
  cursor: pointer;
}

.calendar-headline-control:hover {
  color: #000;
  font-weight: 600;
}

.calendar-weeks-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  font-size: 16px;
  margin-top: 30px;
  color: rgb(81, 81, 81);
}

.calendar-weeks-grid-cell {
  text-align: center;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  border-top: 1px solid rgb(190, 190, 190);
  border-left: 1px solid rgb(190, 190, 190);
  gap: 1px;
}

.calendar-grid-cell {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(190, 190, 190);
  border-right: 1px solid rgb(190, 190, 190);
  cursor: pointer;
  position: relative;
}

.calendar-grid-cell > div {
  width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s;
  font-weight: 600;
}

.calendar-grid-cell:hover > div {
  background: #9ba3bf;
  border-radius: 50%;
}

.calendar-grid-cell-disabled > div {
  color: grey;
  cursor: not-allowed;
}

.calendar-grid-cell-inactive > div {
  color: transparent;
  cursor: not-allowed;
}

.calendar-grid-cell-current > div {
  background: grey;
  color: #000;
  border-radius: 50%;
}
.calendar-grid-cell-active > div {
  background: green;
  color: #000;
  border-radius: 50%;
}

@media (hover: none) {
  .calendar-grid-cell:hover > div {
    background: transparent;
    border-radius: 0;
  }
}

@media (max-width: 768px) {
  .calendar-headline {
    font-size: 16px;
  }

  .calendar-grid {
    grid-template-columns: repeat(7, 1fr);
  }

  .calendar-grid-cell {
    min-width: 40px;
    min-height: 40px;
  }

  .calendar-grid-cell > div {
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 480px) {
  .calendar-headline {
    font-size: 14px;
  }

  .calendar-grid-cell {
    min-width: 30px;
    min-height: 30px;
  }

  .calendar-grid-cell > div {
    width: 40%;
    height: 40%;
  }
}
